body{
	margin: 0;
	padding: 0;
	font-family: "ailerons", sans-serif;
	background-color: rgb(52,152,219);
}


.line{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
}

.line:first-child{
	animation: anim 10s infinite;
}

@keyframes anim{
	0%{
		margin-top: 0;	
	}
	25%{
		margin-top: -60px;	
	}
	50%{
		margin-top: -120px;	
	}
	75%{
		margin-top: -180px;	
	}	
	100%{
		margin-top: 0;	
	}
}

.box{
	width: 600px;
	padding: 40px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	text-align: center;
	border-radius: 15px;
	height: 600px;
	margin-top: 60px;
	margin-bottom: 10px;
}

.box h1{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	font-family: times new roman;
	margin-top: -10px;
}

.box input[type = "text"], .box input[type = "password"],.box input[type = "email"]{
	border: 0;
	background: none;
	display:block;
	margin: 20px auto;
	border: 2px solid #3498db;
	padding: 14px 6px;
	width: 590px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.4s;
	margin-left: -4px;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	border-color: #2ecc71;
}

.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;
}

a{
	font-family: agency fb;
	font-size: 17px;
	text-decoration: none;
	color: #2ecc71;
}

a:hover{
	color: #3498db;
}

p{
	color: black;
	font-family: agency fb;
}
