.font1 {
    font-family: Microsoft sans serif;
    font-weight: 800;
    font-size: 60px;
}

.font2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.text2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 29px;
    font-weight: lighter;
}

.text3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.btn-light:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}